body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    height: 100vh;
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}