.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}
.tweetBox_input {
    padding: 20px;
    display: flex;
}

.tweetBox_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}